body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: relative;
}

h1 {
    margin: 0;
}

.admin-link {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

